
 *{
   margin: 0;
   height: 100%;
  
 }
 body{
   width: 100%;
 }
 .img-container{
   background-image: url(../os/hero.jpg);
   background-position: center;
   background-repeat: no-repeat;
  height :80%;
  background-size: cover;
  position: relative;
 }
 .inner-container{
   text-align: center;
   position: absolute;
   width: 100%;
   color: goldenrod;
   height: auto;
   margin-top: 180px;
  }
  h1{
    font-size: 7em;
    font-family: monospace;
  }
  h2{
    margin-top: -15px;
    font-family: monospace;
    font-size: 1.7em;
font-weight: 400;
color: rgb(55, 0, 255);
  }
.americano {
  height: 60%;
  padding-top: 20px;
  padding-left: 35%;
}
.cappuchinoo{
  height: 60%;
  padding-top: 20px;
padding-left: 35%;
}
.espresso{
  height: 60%;
  padding-top: 20px;
  padding-left: 35%;
}
.icedlatte{
  height: 60%;
  padding-top: 20px;
  padding-left: 35%;
}
.text {
  text-align: justify;
  font-family: fantasy;
}
.container1{
  display: flex;
  align-items: center;
}
.text1{
  align-items: center;
  padding:18px;
  display: flex;
}
